Repository 2dvorak/kaia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @hqjang-pepper, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

perf(instrumentation): add effect counters for V0 vs V_all attribution
  blockchain/tx_list.go
  blockchain/tx_pool.go
  node/cn/handler.go
  node/cn/metrics.go
  node/cn/peer.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(params): raise DefaultBlockGenerationTxLimit to 20k
  params/protocol_params.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @winnie-byun, @yoomee1313

perf(txpool): async AddLocal via localSubmitCh to eliminate RPC lock contention
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(cn/peer): increase per-peer tx queue to 4096 and switch to LRU known-tx cache
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(txpool): split validateTx into stateless/stateful halves
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(cn/peer): increase per-peer tx queue to 4096 and switch to LRU known-tx cache
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(txpool): split validateTx into stateless/stateful halves
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(txpool): inline promote/publish, coalesce chain-head resets
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(cn/peer): increase per-peer tx queue to 4096 and switch to LRU known-tx cache
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(txpool): split validateTx and add coalesced reorg loop
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(cn): push pending TXs to CN peers on each mined block
  node/cn/handler.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(cn): force-push pending TXs to all CN peers on mined block
  node/cn/handler.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

temp: debugging
  blockchain/pending_view.go
  blockchain/pending_view_test.go
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
  work/work.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

blockchain: add prefetch and txLookup support
  blockchain/blockchain.go
  blockchain/chain_makers.go
  blockchain/headerchain.go
  blockchain/prefetch.go
  blockchain/sender_cacher.go
  blockchain/tx_lookup.go
  blockchain/tx_lookup_test.go
  blockchain/types/transaction.go
  consensus/consensus.go
  consensus/kaiabft/machine.go
  kaiax/gov/impl/mock/blockchain_mock.go
  node/cn/backend.go
  work/mocks/blockchain_mock.go
  work/work.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

work: drain heap directly in Arrayify to avoid copy
  blockchain/types/transaction.go
  work/builder/builder.go
  work/builder/builder_test.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

txpool: reduce SendRawTransaction lock-hold and prefetch CPU
  blockchain/prefetch.go
  blockchain/state_prefetcher.go
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

consensus: skip non-proposer mining for kaiabft
  consensus/events.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/core/core.go
  consensus/istanbul/events.go
  consensus/kaiabft/backend.go
  consensus/kaiabft/machine.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje

work: bounded tx selection during block building
  cmd/utils/config.go
  cmd/utils/flaggroup.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  params/protocol_params.go
  work/builder/builder.go
  work/builder/builder_test.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @winnie-byun, @ehnuje

perf(cn/peer): increase per-peer tx queue to 4096 and switch to LRU known-tx cache
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(txpool): split validateTx into stateless/stateful halves
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(txpool): introduce scheduleReorgLoop to coalesce resets and promotes
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(txpool): switch to inline promote, removing reqPromoteCh
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

work: bounded tx selection during block building
  cmd/utils/config.go
  cmd/utils/flaggroup.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  params/protocol_params.go
  work/builder/builder.go
  work/builder/builder_test.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @winnie-byun, @ehnuje

txpool: reduce SendRawTransaction lock-hold and prefetch CPU
  blockchain/blockchain.go
  blockchain/prefetch.go
  blockchain/sender_cacher.go
  blockchain/state_prefetcher.go
  blockchain/types.go
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

txpool: warm AddTx sender from pool, sync recover for single-tx
  blockchain/sender_cacher.go
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

txpool: drop redundant pool.mu.RLock around txLookup.Count
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(params): raise default block tx limit from 12k to 15k
  params/protocol_params.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @winnie-byun, @yoomee1313

feat(txpool): add txpool_contentFrom RPC method
  api/api_txpool.go
  api/backend.go
  api/mocks/backend_mock.go
  blockchain/tx_pool.go
  node/cn/api_backend.go
  work/work.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

perf(params): raise default block tx limit from 12k to 13k
  params/protocol_params.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @winnie-byun, @yoomee1313

blockchain, statedb: Recover FlatTrie insertions interrupted after state commit
  blockchain/blockchain.go
  blockchain/state/database.go
  blockchain/state/statedb.go
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

deps: Temporarily point erigon-lib to 2dvorak fork with Hash error fix
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

deps: Bump erigon-lib to 2dvorak fork with flat trie audit fixes
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

deps: Bump erigon-lib to 2dvorak fork with flat trie audit fixes
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

storage, blockchain: Add archive mode to the path-based trie scheme
  blockchain/state/database.go
  blockchain/state/statedb.go
  cmd/utils/config.go
  cmd/utils/flags.go
  cmd/utils/nodecmd/chaincmd.go
  cmd/utils/nodeflags.go
  node/cn/backend.go
  node/cn/config.go
  storage/database/db_manager.go
  storage/pathstate/database.go
  storage/pathstate/history.go
  storage/statedb/path_trie.go
  storage/statedb/path_trie_historic.go
  storage/statedb/path_trie_historic_test.go
  storage/statedb/trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

deps: Temporarily point erigon-lib to 2dvorak fork with Hash error fix
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

blockchain, statedb: Recover FlatTrie insertions interrupted after state commit
  blockchain/blockchain.go
  blockchain/state/database.go
  blockchain/state/statedb.go
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

blockchain/types: guard Kaia JSON signatures
  blockchain/types/tx_internal_data_json_signatures_test.go
  blockchain/types/tx_internal_data_serializer.go
  blockchain/types/tx_signatures.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

node/cn: bound transaction batches
  node/cn/handler.go
  node/cn/handler_msg_test.go
  node/cn/peer.go
  node/cn/peer_test.go
  node/cn/protocol.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

blockchain: defer transaction sender recovery
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

fix: align catch-up round
  consensus/istanbul/core/core.go
  consensus/istanbul/core/handler_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @KimKyungup @aidan-kwon @jeongkyun-oh

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/accounts/      @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper
/api/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @jimni1222 @sirano11 @aeharvlee @mckim19
/blockchain/    @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun @jimni1222 @sirano11 @mckim19
/build/         @KimKyungup @aidan-kwon @jeongkyun-oh
/client/        @aidan-kwon @jeongkyun-oh @hqjang-pepper
/cmd/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/common/
/consensus/     @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/console/       @KimKyungup @aidan-kwon @jimni1222 @sirano11 @aeharvlee
/contracts/
/crypto/        @KimKyungup @aidan-kwon @jeongkyun-oh
/datasync/      @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/db_migration/  @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/event/
/fork/
/governance/    @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper @mckim19
/kerrors/
/log/           @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/metrics/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje
/networks/      @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @hqjang-pepper
/node/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/params/        @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @yoomee1313
/reward/
/ser/
/storage/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun
/tests/
/utils/
/work/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
