Repository 2dvorak/kaia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @hqjang-pepper, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @KimKyungup @aidan-kwon @jeongkyun-oh

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/accounts/      @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper
/api/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @jimni1222 @sirano11 @aeharvlee @mckim19
/blockchain/    @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun @jimni1222 @sirano11 @mckim19
/build/         @KimKyungup @aidan-kwon @jeongkyun-oh
/client/        @aidan-kwon @jeongkyun-oh @hqjang-pepper
/cmd/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/common/
/consensus/     @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/console/       @KimKyungup @aidan-kwon @jimni1222 @sirano11 @aeharvlee
/contracts/
/crypto/        @KimKyungup @aidan-kwon @jeongkyun-oh
/datasync/      @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/db_migration/  @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/event/
/fork/
/governance/    @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper @mckim19
/kerrors/
/log/           @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/metrics/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje
/networks/      @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @hqjang-pepper
/node/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/params/        @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @yoomee1313
/reward/
/ser/
/storage/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun
/tests/
/utils/
/work/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh

Add db-get command
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
  node/cn/backend.go
  storage/database/db_manager.go
  storage/database/leveldb_database.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje, @winnie-byun

Remove dummy code
  node/cn/backend.go
  storage/database/leveldb_database.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh, @winnie-byun

Add itertrie command
  blockchain/state/statedb.go
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
  storage/statedb/node.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

Print elapsed time for itertrie
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Update itertrie
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Refactor itertrie
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Temp commit
  cmd/utils/nodecmd/chaincmd.go
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje, @winnie-byun

asdf
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Add command to iterate code for counting first byte
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Fix gas calcuation for EIP-7623 and its tests
  blockchain/state_transition.go
  blockchain/tx_pool.go
  blockchain/types/transaction.go
  blockchain/types/tx_internal_data.go
  tests/tx_gas_calculation_test.go
  tests/tx_gas_overflow_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Bring recent commits in geth
  blockchain/state_transition.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Tidy up
  blockchain/state_transition.go
  blockchain/tx_pool.go
  blockchain/types/tx_internal_data.go
  tests/tx_gas_calculation_test.go
  tests/tx_gas_overflow_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Include sig validatioin gas in intrinsic gas for semantic
  blockchain/state_transition.go
  blockchain/types/transaction.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Update error name
  blockchain/error.go
  blockchain/state_transition.go
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Add state transition test for EIP7623
  blockchain/state_transition_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Add skeleton kaiax/kv module
  cmd/utils/config.go
  cmd/utils/flaggroup.go
  cmd/utils/flags.go
  cmd/utils/nodecmd/chaincmd.go
  cmd/utils/nodeflags.go
  go.mod
  go.sum
  kaiax/flatkv/README.md
  kaiax/flatkv/impl/database.go
  kaiax/flatkv/impl/errors.go
  kaiax/flatkv/impl/execution.go
  kaiax/flatkv/impl/init.go
  kaiax/flatkv/impl/rewind.go
  kaiax/flatkv/interface.go
  log/log_modules.go
  node/cn/config.go
  storage/database/db_manager.go
  storage/database/schema.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @winnie-byun, @ehnuje

Add Header table
  cmd/kcn/main.go
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
  go.mod
  go.sum
  kaiax/flatkv/impl/database.go
  kaiax/flatkv/impl/execution.go
  kaiax/flatkv/impl/init.go
  node/cn/backend.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje

Temp commit
  blockchain/blockchain.go
  blockchain/state/database.go
  blockchain/state/statedb_test.go
  cmd/utils/config.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  common/types.go
  crypto/kzg4844/kzg4844_gokzg.go
  crypto/signature_cgo.go
  go.mod
  go.sum
  networks/p2p/discover/node.go
  networks/p2p/rlpx/rlpx.go
  storage/statedb/flattrie.go
  storage/statedb/flattrie_test.go
  storage/statedb/trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313, @hqjang-pepper

Add RwTx to db_manager to avoid mdbx error
  blockchain/blockchain.go
  blockchain/state/database.go
  blockchain/state/statedb.go
  storage/database/db_manager.go
  storage/statedb/database.go
  storage/statedb/flattrie.go
  storage/statedb/flattrie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Trying to fix reopen
  blockchain/blockchain.go
  blockchain/genesis.go
  blockchain/state/database.go
  storage/database/db_manager.go
  storage/statedb/database.go
  storage/statedb/flattrie.go
  storage/statedb/flattrie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Fix to sync Kairos block 1
  storage/statedb/flattrie.go
  storage/statedb/flattrie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Somehow Kairos sync is fine
  blockchain/blockchain.go
  blockchain/state/database.go
  blockchain/state/statedb.go
  storage/statedb/flattrie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Fix test
  storage/statedb/flattrie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Tidy up a bit
  storage/statedb/flattrie.go
  storage/statedb/flattrie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Add blocknum related logics
  blockchain/state/database.go
  storage/statedb/flattrie.go
  storage/statedb/flattrie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Debugging private network round change
  blockchain/blockchain.go
  blockchain/state/database.go
  blockchain/state/statedb.go
  blockchain/state_transition.go
  blockchain/system/kip113.go
  cmd/utils/nodecmd/chaincmd.go
  storage/statedb/flattrie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

Bring kaiaTrie from kaia-erigon into FlatTrie
  blockchain/blockchain.go
  blockchain/state/database.go
  cmd/utils/config.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  common/types.go
  crypto/signature_cgo.go
  go.mod
  go.sum
  networks/p2p/discover/node.go
  networks/p2p/rlpx/rlpx.go
  storage/database/db_manager.go
  storage/statedb/flat_trie.go
  storage/statedb/trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313, @hqjang-pepper

Bring kaiaTrie from kaia-erigon into FlatTrie
  blockchain/blockchain.go
  blockchain/state/database.go
  cmd/utils/config.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  common/types.go
  crypto/signature_cgo.go
  go.mod
  go.sum
  networks/p2p/discover/node.go
  networks/p2p/rlpx/rlpx.go
  storage/database/db_manager.go
  storage/statedb/flat_trie.go
  storage/statedb/trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313, @hqjang-pepper

Enable FlatTrie for init command
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Store commitment and handle blocknum
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Update go.mod to import kaia-erigon
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

Do not use InMem and set aggStep to 1
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Bump kaia-erigon version
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

Test
  api/api_ethereum.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @jimni1222, @sirano11, @aeharvlee, @mckim19

Add mapping for stateRoot to blockNum
  blockchain/genesis.go
  blockchain/state/database.go
  storage/statedb/flat_trie.go
  storage/statedb/trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Add itertrie command for debugging
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Add dbget command for debugging
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
  kaiax/gasless/impl/getter.go
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje, @winnie-byun

Add kvget command for debugging
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Bump kaia-erigon
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

FlatTrie: pass address for storage trie
  blockchain/state/database.go
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19
