Repository 2dvorak/kaia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @hqjang-pepper, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

fix: include blob transaction cost
  blockchain/types/transaction.go
  blockchain/types/transaction_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

fix: bound blob sidecars
  node/cn/handler.go
  node/cn/handler_msg_test.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

blockchain, consensus: separate proposal and finalized header validation
  blockchain/block_validator.go
  blockchain/block_validator_test.go
  blockchain/blockchain.go
  blockchain/types.go
  consensus/consensus.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/backend_test.go
  kaiax/gov/impl/mock/blockchain_mock.go
  tests/block_test_util.go
  work/mocks/blockchain_mock.go
  work/work.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

consensus/bft: validate message envelope shape
  consensus/bft/codec.go
  consensus/bft/messages_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

api: allow empty sender signatures
  api/api_kaia_transaction_test.go
  blockchain/types/tx_internal_data.go
  blockchain/types/tx_internal_data_json_signatures_test.go
  blockchain/types/tx_signatures.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

metrics: clean up exporter test
  metrics/utils/metrics.go
  metrics/utils/metrics_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje

metrics: clarify exporter test scope
  metrics/utils/metrics_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje

test: account for blob fees in balance checks
  tests/tx_validation_test.go
Owners: none

fix: separate migration hashes
  storage/statedb/sync.go
  storage/statedb/sync_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

p2p: limit frames before peer handshake
  networks/p2p/rlpx/rlpx.go
  networks/p2p/rlpx/rlpx_test.go
  networks/p2p/transport.go
  networks/p2p/transport_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @winnie-byun, @hqjang-pepper

tracers: bound structured trace memory
  blockchain/vm/errors.go
  blockchain/vm/logger.go
  blockchain/vm/logger_test.go
  node/cn/tracers/api.go
  node/cn/tracers/api_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @KimKyungup @aidan-kwon @jeongkyun-oh

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/accounts/      @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper
/api/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @jimni1222 @sirano11 @aeharvlee @mckim19
/blockchain/    @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun @jimni1222 @sirano11 @mckim19
/build/         @KimKyungup @aidan-kwon @jeongkyun-oh
/client/        @aidan-kwon @jeongkyun-oh @hqjang-pepper
/cmd/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/common/
/consensus/     @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/console/       @KimKyungup @aidan-kwon @jimni1222 @sirano11 @aeharvlee
/contracts/
/crypto/        @KimKyungup @aidan-kwon @jeongkyun-oh
/datasync/      @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/db_migration/  @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/event/
/fork/
/governance/    @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper @mckim19
/kerrors/
/log/           @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/metrics/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje
/networks/      @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @hqjang-pepper
/node/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/params/        @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @yoomee1313
/reward/
/ser/
/storage/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun
/tests/
/utils/
/work/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
