Repository 2dvorak/kaia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @hqjang-pepper, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

consensus/kaiabft: add backend with Engine/Handler impl
  consensus/kaiabft/backend.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/engine: route NewEngine to kaiabft by engine type
  consensus/engine/engine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd: always read --consensus.engine flag, add to KCN flags
  cmd/utils/config.go
  cmd/utils/nodeflags.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: fix double-finalize in speculative execution
  consensus/kaiabft/machine.go
  tests/executor_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

[]: fix lint
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd: set kaiabft block generation time limit to 500ms
  cmd/utils/config.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

params: add KaiaBFTBlockGenerationTimeLimit constant
  params/protocol_params.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @winnie-byun, @yoomee1313

tests: add block generation time limit test
  tests/executor_test.go
Owners: none

cmd: mark block-generation-time-limit as experimental option
  cmd/utils/flags.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd/utils: use kaiabft default
  cmd/utils/flags.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: expose istanbul api namespace for compatibility
  consensus/kaiabft/api.go
  consensus/kaiabft/backend.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

perf(instrumentation): add broadcast / txpool / miner timers only
  blockchain/tx_list.go
  blockchain/tx_pool.go
  node/cn/handler.go
  node/cn/metrics.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(instrumentation): add effect counters for V0 vs V_all attribution
  blockchain/tx_list.go
  blockchain/tx_pool.go
  node/cn/handler.go
  node/cn/metrics.go
  node/cn/peer.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(instrumentation): add effect counters on perf branch
  blockchain/tx_list.go
  blockchain/tx_pool.go
  node/cn/handler.go
  node/cn/metrics.go
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

p-stack: perf propagation only (txpool files reverted to baseline-instrumented)
  blockchain/tx_list.go
  blockchain/tx_pool.go
  blockchain/types/transaction.go
  work/mocks/txpool_mock.go
  work/work.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

t-stack: perf txpool only (propagation files reverted to baseline-instrumented)
  node/cn/handler.go
  node/cn/metrics.go
  node/cn/peer.go
  node/cn/peer_set.go
  node/cn/peer_set_mock_test.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

variant-t4: Copy() bug fix only on baseline-instrumented
  blockchain/types/transaction.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

variant-t3: RemovedBatch method only on baseline-instrumented
  blockchain/tx_list.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

variant-p3: maxQueuedTxs 128->1024 only on baseline-instrumented
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

variant-p1: async sends only on baseline-instrumented
  node/cn/handler.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

variant-p2: P1 + BatchTypePeersWithoutTxs
  node/cn/handler.go
  node/cn/peer_set.go
  node/cn/peer_set_mock_test.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

variant-t2: PendingWithBaseFee fused only on baseline-instrumented
  blockchain/tx_pool.go
  work/mocks/txpool_mock.go
  work/work.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

variant-t1: T3 RemovedBatch + T1 fair-share rewrite
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

blockchain: parallelize post-insert-block hooks
  blockchain/blockchain.go
  kaiax/interface.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

consensus: skip non-proposer mining for kaiabft
  consensus/events.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/core/core.go
  consensus/istanbul/events.go
  consensus/kaiabft/backend.go
  consensus/kaiabft/machine.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje

txpool/miner: use pending snapshot with bounded tx selection
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
  cmd/utils/config.go
  cmd/utils/flaggroup.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  params/protocol_params.go
  work/builder/builder.go
  work/builder/builder_test.go
  work/mocks/txpool_mock.go
  work/work.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

work: drain heap directly in Arrayify to avoid copy
  blockchain/types/transaction.go
  work/builder/builder.go
  work/builder/builder_test.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

consensus/kaiabft,blockchain: accelerate validator speculative execution
  blockchain/blockchain.go
  blockchain/chain_makers.go
  blockchain/headerchain.go
  blockchain/prefetch.go
  blockchain/sender_cacher.go
  blockchain/state/state_object.go
  blockchain/state/statedb.go
  blockchain/state/statedb_test.go
  blockchain/state_processor.go
  blockchain/tx_lookup.go
  blockchain/tx_lookup_test.go
  blockchain/types/transaction.go
  consensus/consensus.go
  consensus/kaiabft/machine.go
  kaiax/gov/impl/mock/blockchain_mock.go
  node/cn/backend.go
  work/mocks/blockchain_mock.go
  work/work.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

perf(instrumentation): add broadcast / txpool / miner timers only
  blockchain/tx_list.go
  blockchain/tx_pool.go
  node/cn/handler.go
  node/cn/metrics.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(instrumentation): add effect counters for V0 vs V_all attribution
  blockchain/tx_list.go
  blockchain/tx_pool.go
  node/cn/handler.go
  node/cn/metrics.go
  node/cn/peer.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(cn/peer): increase per-peer tx queue to 4096 and switch to LRU known-tx cache
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(txpool): split validateTx and add coalesced reorg loop
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

fix(txpool): restore inline promote/publish, remove reqPromoteCh
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(txpool): split validateTx into stateless/stateful halves
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(txpool): inline promote/publish, coalesce chain-head resets
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(txpool): drain txMsgCh before AddRemotes to coalesce snapshot rebuilds
  blockchain/tx_pool.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

txpool: reduce SendRawTransaction lock-hold and prefetch CPU
  blockchain/prefetch.go
  blockchain/state_prefetcher.go
  blockchain/tx_pool.go
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(cn/peer): increase per-peer tx queue to 4096 and switch to LRU known-tx cache
  node/cn/peer.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(txpool): split validateTx into stateless/stateful halves
  blockchain/tx_pool.go
  blockchain/tx_pool_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

perf(instrumentation): add broadcast / txpool / miner timers only
  blockchain/tx_list.go
  blockchain/tx_pool.go
  node/cn/handler.go
  node/cn/metrics.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @KimKyungup @aidan-kwon @jeongkyun-oh

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/accounts/      @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper
/api/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @jimni1222 @sirano11 @aeharvlee @mckim19
/blockchain/    @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun @jimni1222 @sirano11 @mckim19
/build/         @KimKyungup @aidan-kwon @jeongkyun-oh
/client/        @aidan-kwon @jeongkyun-oh @hqjang-pepper
/cmd/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/common/
/consensus/     @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/console/       @KimKyungup @aidan-kwon @jimni1222 @sirano11 @aeharvlee
/contracts/
/crypto/        @KimKyungup @aidan-kwon @jeongkyun-oh
/datasync/      @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/db_migration/  @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/event/
/fork/
/governance/    @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper @mckim19
/kerrors/
/log/           @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/metrics/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje
/networks/      @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @hqjang-pepper
/node/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/params/        @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @yoomee1313
/reward/
/ser/
/storage/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun
/tests/
/utils/
/work/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
