Repository 2dvorak/kaia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @hqjang-pepper, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

Test storageRoot
  blockchain/state/state_test.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Matched roots
  blockchain/state/state_test.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Use FlatTrie for storage, not working
  blockchain/state/database.go
  blockchain/state/iterator.go
  blockchain/state/state_object.go
  blockchain/state_migration.go
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Add empty account if not exist for storage FlatTrie
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Pass smart contract deploy at 505584
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Tidy up a bit
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Update test to reproduce 505993 failure
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Add test for multi block storage update, failing
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Increase db size and catch commit error
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Store pendingBranches temporarily
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Bump kaia-erigon
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

Remove undefined trace
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Add itertrie command and rename previous itertrie to itertable
  cmd/ken/main.go
  cmd/utils/nodecmd/chaincmd.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Add test case for bad block #571906
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

statedb/hasher: avoid spawning goroutine if not needed
  storage/statedb/hasher.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

crypto: Use erigontech/secp256k1
  crypto/signature_cgo.go
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

kaia: Supply initial storageRoot to FlatStorageTrie
  blockchain/state/database.go
  go.mod
  go.sum
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

Import kaia-erigon
  go.mod
  go.sum
  storage/statedb/FLATTRIE_DESIGN.md
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

statedb: Random trie test
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

state: StateDB to manage BlockNumberByRoot
  blockchain/genesis.go
  blockchain/state/statedb.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

statedb: Implement FlatTrie
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
  storage/statedb/trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

Bump kaia-erigon
  go.mod
  go.sum
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

state: Refactor blockNumberFromRoot
  blockchain/genesis.go
  blockchain/state/statedb.go
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

database: DBManager holds DomainsManager
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

state: Hook up FlatTrie to StateDB
  blockchain/state/database.go
  blockchain/state/iterator.go
  blockchain/state/state_object.go
  blockchain/state/statedb.go
  blockchain/state_migration.go
  go.mod
  go.sum
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

database: Persist MDBX DomainsManager
  blockchain/state/statedb.go
  go.mod
  go.sum
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

crypto: use crypto.Ecrecover over direct secp256k1 import
  networks/p2p/discover/node.go
  networks/p2p/rlpx/rlpx.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @winnie-byun, @hqjang-pepper

statedb: Use kaiatrie.NewDeferredStorageTrie2
  blockchain/state/statedb.go
  go.mod
  go.sum
  storage/statedb/flat_trie.go
  storage/statedb/trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

statedb: FlatStorageTrie.Get returns RLP-encoded data
  go.mod
  go.sum
  storage/statedb/flat_trie.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

statedb: Implement FlatTrie.NodeIterator
  go.mod
  go.sum
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun

statedb: FlatAccountTrie to receive initail root hash
  blockchain/state/database.go
  go.mod
  go.sum
  storage/statedb/flat_trie.go
  storage/statedb/flat_trie_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

api: DumpBlock to not use StateAtWithPersistent
  node/cn/api_debug.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

Bump erigon (Lazy install surrogate account)
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

Bump erigon (fix trie deletion)
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

Bump erigon (storagetrie.Get use WithDomainsRo)
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

Add `--state.flat-trie` flag for FlatTrie
  blockchain/state/database.go
  blockchain/state/statedb.go
  cmd/utils/config.go
  cmd/utils/flags.go
  cmd/utils/nodecmd/chaincmd.go
  cmd/utils/nodeflags.go
  common/types.go
  storage/database/db_manager.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

Add LFU cache for address.Hex()
  cmd/ken/cache_stats_printer.go
  cmd/ken/main.go
  common/address_cache_stats.go
  common/types.go
  go.mod
  go.sum
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Add periodic stat
  cmd/kcn/cache_stats_printer.go
  cmd/kcn/main.go
  cmd/ken/main.go
  cmd/kpn/cache_stats_printer.go
  cmd/kpn/main.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

Test commit
  common/types.go
  go.mod
  go.sum
  kaiax/valset/address_set.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh

refactor: use reflect.TypeFor
  accounts/abi/reflect.go
  accounts/abi/type.go
  accounts/keystore/keystore.go
  api/tx_args.go
  blockchain/types/block.go
  blockchain/types/block_test.go
  blockchain/vm/contracts_test.go
  common/hexutil/json.go
  common/types.go
  event/feed_test.go
  kaiax/gov/headergov/impl/init_test.go
  kaiax/gov/impl/api_test.go
  networks/rpc/service.go
  node/node_test.go
  node/utils_test.go
  params/governance_paramset.go
  rlp/decode.go
  rlp/raw.go
  storage/statedb/cache_test.go
  tests/init_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @hqjang-pepper, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @KimKyungup @aidan-kwon @jeongkyun-oh

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/accounts/      @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper
/api/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @jimni1222 @sirano11 @aeharvlee @mckim19
/blockchain/    @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun @jimni1222 @sirano11 @mckim19
/build/         @KimKyungup @aidan-kwon @jeongkyun-oh
/client/        @aidan-kwon @jeongkyun-oh @hqjang-pepper
/cmd/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/common/
/consensus/     @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/console/       @KimKyungup @aidan-kwon @jimni1222 @sirano11 @aeharvlee
/contracts/
/crypto/        @KimKyungup @aidan-kwon @jeongkyun-oh
/datasync/      @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/db_migration/  @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/event/
/fork/
/governance/    @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper @mckim19
/kerrors/
/log/           @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/metrics/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje
/networks/      @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @hqjang-pepper
/node/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/params/        @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @yoomee1313
/reward/
/ser/
/storage/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun
/tests/
/utils/
/work/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
