Repository 2dvorak/kaia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @hqjang-pepper, @jimni1222, @sirano11, @aeharvlee, @mckim19, @ehnuje, @winnie-byun

consensus, work: rename ExecuteTransactions to ProcessBlock, add vmConfig and InternalTxTraces
  consensus/executor.go
  consensus/mocks/executor_mock.go
  work/execution.go
  work/mocks/blockchain_mock.go
  work/work.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje

blockchain: add SpeculativeResultCache with unit tests
  blockchain/speculative_cache.go
  blockchain/speculative_cache_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

blockchain: add InsertChain speculative cache fast path
  blockchain/blockchain.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

tests: add speculative cache integration tests, rename to ProcessBlock
  tests/executor_test.go
Owners: none

blockchain: precompute bloom and receipt root during speculative execution
  blockchain/block_validator.go
  blockchain/blockchain.go
  blockchain/speculative_cache.go
  blockchain/types.go
  consensus/consensus.go
  kaiax/gov/impl/mock/blockchain_mock.go
  tests/block_test_util.go
  tests/executor_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19, @yoomee1313

blockchain: report stateDB and block timers on speculative cache hits
  blockchain/blockchain.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

consensus, work: forward ProcessStats on ExecutionResult
  consensus/executor.go
  tests/executor_test.go
  work/execution.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje

blockchain: wait for in-flight speculative result in InsertChain
  blockchain/blockchain.go
  tests/executor_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

consensus/bft: move RLPHash and GetSignatureAddress from istanbul
  consensus/bft/utils.go
  consensus/istanbul/utils.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd, node/cn: add --consensus.engine CLI flag
  cmd/utils/config.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  node/cn/backend.go
  node/cn/config.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje

consensus/engine: route NewEngine to kaiabft by engine type
  consensus/engine/engine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: add state machine with speculative execution
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: add backend with Engine/Handler impl
  consensus/kaiabft/backend.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

tests: add kaiabft speculative execution and engine factory tests
  tests/executor_test.go
Owners: none

consensus/kaiabft: fix timer leak, nil guard, stale round-change set, and error handling
  consensus/kaiabft/backend.go
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd: always read --consensus.engine flag, add to KCN flags
  cmd/utils/config.go
  cmd/utils/nodeflags.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

[]: fix lint
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: enrich consensus log
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: fix double-finalize in speculative execution
  consensus/kaiabft/machine.go
  tests/executor_test.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: forward ProcessStats through speculative cache
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: skip proposer spec exec, precompute bloom/receipt
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: add consensus core metrics
  consensus/kaiabft/machine.go
  consensus/kaiabft/metrics.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd: mark block-generation-time-limit as experimental option
  cmd/utils/flags.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd: set kaiabft block generation time limit to 500ms
  cmd/utils/config.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

params: add KaiaBFTBlockGenerationTimeLimit constant
  params/protocol_params.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @winnie-byun, @yoomee1313

tests: add block generation time limit test
  tests/executor_test.go
Owners: none

cmd/utils: use kaiabft default
  cmd/utils/flags.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: expose istanbul api namespace for compatibility
  consensus/kaiabft/api.go
  consensus/kaiabft/backend.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

perf(propagation): coalesce EN->CN tx broadcast path
  node/cn/handler.go
  node/cn/metrics.go
  node/cn/peer.go
  node/cn/peer_set.go
  node/cn/peer_set_mock_test.go
Owners: @KimKyungup, @aidan-kwon, @ehnuje, @jeongkyun-oh

perf(txpool): fair-share O(n log n), fused baseFee-filtered pending
  blockchain/tx_list.go
  blockchain/tx_pool.go
  blockchain/types/transaction.go
  work/mocks/txpool_mock.go
  work/work.go
  work/worker.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @ehnuje, @winnie-byun, @jimni1222, @sirano11, @mckim19

consensus/kaiabft: skip proposer spec exec, precompute bloom/receipt
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/bft: move RLPHash and GetSignatureAddress from istanbul
  consensus/bft/utils.go
  consensus/istanbul/utils.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: forward ProcessStats through speculative cache
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: enrich consensus log
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: add consensus core metrics
  consensus/kaiabft/machine.go
  consensus/kaiabft/metrics.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

tests: add kaiabft speculative execution and engine factory tests
  tests/executor_test.go
Owners: none

consensus/kaiabft: add state machine with speculative execution
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus/kaiabft: fix timer leak, nil guard, stale round-change set, and error handling
  consensus/kaiabft/backend.go
  consensus/kaiabft/machine.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

consensus: share core metrics between istanbul and kaiabft
  consensus/bft/metrics.go
  consensus/istanbul/core/core.go
  consensus/kaiabft/machine.go
  consensus/kaiabft/metrics.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313

cmd, node/cn: add --consensus.engine CLI flag
  cmd/utils/config.go
  cmd/utils/flags.go
  cmd/utils/nodeflags.go
  node/cn/backend.go
  node/cn/config.go
Owners: @KimKyungup, @aidan-kwon, @jeongkyun-oh, @yoomee1313, @ehnuje

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @KimKyungup @aidan-kwon @jeongkyun-oh

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/accounts/      @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper
/api/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @jimni1222 @sirano11 @aeharvlee @mckim19
/blockchain/    @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun @jimni1222 @sirano11 @mckim19
/build/         @KimKyungup @aidan-kwon @jeongkyun-oh
/client/        @aidan-kwon @jeongkyun-oh @hqjang-pepper
/cmd/           @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/common/
/consensus/     @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313
/console/       @KimKyungup @aidan-kwon @jimni1222 @sirano11 @aeharvlee
/contracts/
/crypto/        @KimKyungup @aidan-kwon @jeongkyun-oh
/datasync/      @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/db_migration/  @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/event/
/fork/
/governance/    @KimKyungup @aidan-kwon @jeongkyun-oh @yoomee1313 @hqjang-pepper @mckim19
/kerrors/
/log/           @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun
/metrics/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje
/networks/      @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @hqjang-pepper
/node/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
/params/        @KimKyungup @aidan-kwon @jeongkyun-oh @winnie-byun @yoomee1313
/reward/
/ser/
/storage/       @KimKyungup @aidan-kwon @jeongkyun-oh @ehnuje @winnie-byun
/tests/
/utils/
/work/          @KimKyungup @aidan-kwon @ehnuje @jeongkyun-oh
